{{!-- основной файл --}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    
    <script src="/js/index.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LfFzloaAAAAAM75FX57Q7SYkRLVhZy9ytr_DHpL"></script>
    {{!-- Живой поиск --}}
    <script src="/js/live_search.js"></script>
    {{!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> --}}
    

  </head>
  {{!-- Вызов общих объектов и переменных, которые действуют на все маршруты --}}
  {{getLoginUserProfil}} 
  <body>
      
      
    {{> header}}  
    {{#if (getMainBlock isVisiableMainBlock)}}  
    <div class="find_block">
    {{>find}}
    </div>
    <div class="main_block">
      {{{body}}}
    </div>
    {{else}}
      {{{body}}}
      
    {{/if}}

      <script src="/public/js/reCAPTURE.js"></script>
  </body>
</html>