<h1>Список пользователей</h1>
{{>modalWindow}}
{{!-- Событие onkeyup возникает в момент отпускания нажатой клавиши. --}}
<input type="text" placeholder="Введите PersonalID или E-mail" class="search-button" id="search-text"
    onkeyup="tableSearch()">

<table class="user-table" id="user-tab">
    <td>ID</td>
    <td>PersonalID</td>
    <td>Роль</td>
    <td>Имя пользователя</td>
    <td>E-mail</td>
    <td>Дата регистрации</td>
    <td>Выбрать</td>


    </tr>
    {{#each memberList}}

    <tr class="tr-list">

        <td>{{id}}</td>
        <td>
            <a href="member/{{personalID}}">{{personalID}}</a>
        </td>
        <td>{{role}}</td>
        <td>{{name}}</td>
        <td>{{email}}</td>
        <td>{{human_date}}</td>
        <td>
            <div class="dropdown">
                <button class="dropbtn" >Действие</button>
                <div class="dropdown-content">
                    <a href="#" class="edit-acc">Изменить</a>
                    <a href="#" class="view-acc" name="{{personalID}}" id="view-acc">Посмотреть</a>
                    <a href="#" class="delete-acc">Удалить</a>
                </div>
            </div>
        </td>    
    </tr>
    {{/each}}
</table>