<form action="/registration" method="post">
    <div class="container">
        <h1>Регистрация</h1>
        <p>Пожалуйста, заполните эту форму, чтобы создать учетную запись.</p>
        <hr>
        {{!-- Имя пользователя --}}
        <label for="name"><b>Имя</b></label>
        <input type="text" id="name" placeholder="Пример: Иван" pattern="[А-Я][а-я]+$" name="name" value={{name}} />
        <span class="form__error">Это поле должно содержать Имя в формате Егор</span> {{!-- Валидация --}}
        {{!-- Почта пользователя --}}
        <label for="email"><b>Почта</b></label>
        <input type="email" id="email" placeholder={{#if isEmailsReapet}} "Электронная почта уже занята"
            class="placeholder" {{else}} "Пример: electrons.contact@gmail.com" class="" {{/if}} name="email">
        <span class="form__error">Это поле должно содержать E-Mail в формате electrons.contact@gmail.com</span>
        {{!-- Валидация --}}

        {{!-- Пароль пользователя --}}
        <label for="psw"><b>Пароль</b></label>
        
        <div class="password">
            
            <input id="password" type="password" pattern="[a-zA-Z^0-9]+$" placeholder="Введите пароль" name="password"
                value={{password}} />
            <div id="showPasswordBtn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unlock"
                    viewBox="0 0 16 16">
                    <path
                        d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2zM3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1H3z" />
                </svg>
            </div>
        </div>
            <span class="form__error">Это поле должно содержать пароль в формате qwerty</span> {{!-- Валидация --}}

        {{!-- Повторите пароль --}}
        <label for="psw-repeat"><b>Повторите пароль</b>
            <p id="checkPsw"></p>
        </label>


        <div class="password">
            <input id="passwordRepeat" type="password" placeholder={{#if isPasswordUnRepeat}} "Пароль не повтораяется"
                class="placeholder" {{else}} "Повторите пароль" class="" {{/if}} name="passwordRepeat"
                value={{pwsReapet}}>
            <div id="showPasswordBtn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unlock"
                    viewBox="0 0 16 16">
                    <path
                        d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2zM3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1H3z" />
                </svg>
            </div>
        </div>
        <hr>
        {{!-- Конча --}}
        {{!-- <form action="?" method="POST">
            <div class="g-recaptcha" data-sitekey="6LfFzloaAAAAAM75FX57Q7SYkRLVhZy9ytr_DHpL"></div>
            <br />
            {{#if isNotCorectCapture}}
            <p style="color: red;">Вы не прошли кончу</p>
            {{/if}} --}}
        <p style="color: red;">{{errorMessage}}</p>

        <p><input type="checkbox" name="termsAndPrivacy"> Создавая учетную запись, вы соглашаетесь с нашими <a
                href="#">Terms & Privacy</a>. </p>
        <p><input type="checkbox" name="notifications"> Подписаться на все новости и акции, чтобы не пропустить их. </p>

        <div id="regBtn">
            <div class="none-registerbtn">Регистрация</div>
        </div>
        {{!-- </form> --}}


        <div class="container-signin">
            <p>Уже есть аккаунт? <a href="/login">Войти</a>.</p>
        </div>
    </div>
    </div>
</form>