<h1> {{getTitle title}}</h1>
<div class="block_holder"> {{>settings-menu}}

    <div class="form_section form_section_settings_photo">
        <form id="avatarForm" action="/settings/upload" enctype="multipart/form-data" method="post">
            <div class="form_inner_block image_inner_block">
                <h2 style="padding-top: 40px">Загрузите вашу фотографию или выберите</h2>
                <div class="user_profile_image settings_image preload_avatar"><img id="profileImageWindow"
                        class="form_settings__image" src="{{profileImage}}" alt=""></div>
                <div class="button_delete_user_image"><button type="button" id="delete_profile_image"><i
                            class="bi bi-trash"></i></button></div>
                <ul class="choose_image">
                    <li class="user_profile_image"><img
                            src="https://www.meme-arsenal.com/memes/be50e6ba99654b5455027dcc82beb5b3.jpg" alt=""></li>
                    <li class="user_profile_image"><img src="https://www.blast.hk/attachments/64805/" alt=""></li>
                    <li class="user_profile_image"><img
                            src="https://www.meme-arsenal.com/memes/0098988ef41b8c0d571016c93bd7dd0d.jpg" alt=""></li>
                    <li class="user_profile_image"><img
                            src="https://prikolist.club/wp-content/uploads/2019/07/1-456.jpg" alt=""></li>
                    <li class="user_profile_image"><img
                            src="https://pbs.twimg.com/profile_images/1264968926578061315/r3W8qHXB.jpg" alt=""></li>
                </ul>
                <div id="dropArea" class="drag_and_drop">
                    <input style="display: none;" id="avatar" maxlength="1" type="file" accept="image/jpeg,image/png,image/jpg"
                        name="avatar" onchange="readFile(this)" multiple>
                    <div id="description">
                        <label class="button" for="avatar"
                            style="background:rgb(255, 236, 161); padding: 3px; border-radius: 5px;">
                            Выберите изображение
                        </label>
                        <br>
                        <span>или перетащите его сюда</span>
                        <p>Размер изображения не может превышать <span style="color: rgb(255, 96, 38);">3
                                мб</span>. Допустимые <span style="color: rgb(255, 96, 38);">.jpg/.jpeg/.png</span></p>
                    </div>

                </div>

            </div>
            <div class="pretty_button"><input id="pullImage" type="submit" value="Сохранить" class="btn btn-default">
            </div>
        </form>
    </div>
    <div class="">
        <form method="post" action="/settings/save-settings" name="settings" enctype="multipart/form-data">
            <div class="form_section  form_section_type_mypages">
                <h2>Персональные данные</h2><b class="form_account_label form_position">физическое лицо </b>
                <div class="form_caption"><label class="form_tag form_tag_name" for="name">Имя <span
                            class="form_required" style="color: red;">*</span></label></div>
                <div class="form_data"><input class="form_text form_text_type_name" type="text" name="name"
                        minlength="2" maxlength="100" value="{{profile_name}}" id="name"></div>
                <div class="form_caption"><label class="form_tag form_tag_name" for="sername">Фамилия</label></div>
                <div class="form_data"><input class="form_text form_text_type_name" type="text" name="sername"
                        maxlength="100" value="{{sername}}" id="name"></div>
                <div class="form_caption"><label class="form_tag form_tag_bio" for="name">Расскажите нам о себе</label>
                </div>
                <div class="form_data"><textarea class="form_text form_text_type_name" type="text" name="bio"
                        maxlength="300" id="name" style="height: 100px;width:60%"> {
        {
        bio
    }
}

</textarea></div>
                <div class="form_caption"><label class="form_tag form_tag_name" for="birthday">Дата рождения</label>
                </div>
                <div class="form_data"><input class="form_text form_text_type_name" type="date" name="birthday"
                        maxlength="100" value="{{birthday}}" id="name"></div>
            </div>
            <div class="form_section  form_section_type_contacts_data">
                <h2>Контакты</h2>
                <div class="form_caption"><label class="form_tag form_tag_name" for="name">Телефон 1<span
                            class="form_required" style="color: red;">*</span></label></div>
                <div class="form_data"><input class="form_text form_text_type_name" type="text" name="phone1"
                        maxlength="100" value="{{phone1}}" id="name"></div>
                <div class="form_caption"><label class="form_tag form_tag_name" for="name">Телефон 2</label></div>
                <div class="form_data"><input class="form_text form_text_type_name" type="text" name="phone2"
                        maxlength="100" value="{{phone2}}" id="name"></div>
                <div class="form_caption"><label class="form_tag form_tag_name" for="name">Телефон 3</label></div>
                <div class="form_data"><input class="form_text form_text_type_name" type="text" name="phone3"
                        maxlength="100" value="{{phone3}}" id="name"></div>
                <div class="form_caption"><label class="form_tag form_tag_name" for="name">Запасной email</label></div>
                <div class="form_data"><input class="form_text form_text_type_name" type="text" name="enatherEmail"
                        maxlength="100" value="{{seconedEmail}}" id="name"></div>
                <div class="pretty_button"><button type="submit">Сохранить <i class="bi bi-cloud-arrow-up"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<button>
<style>
    .drag_and_drop {
        position: relative;
        width: 60%;
        height: 100px;
        border: 2px dashed #ccc;
        border-radius: 20px;
        width: 320px;
        font-family: sans-serif;
        margin: 100px auto;
        padding: 20px;
    }

    .highlight {
        width: 65%;
        height: 120px;
        background: url(https://www.freeiconspng.com/uploads/upload-icon-30.png) no-repeat;
        background-size: 100px;;
        background-position: center center;
    }
    .err_window{
        position: fixed;
        margin-top: 10px;

        background: rgba(255, 255, 255);

        width: 320px;
        height: 180px;

        z-index: 101;

        border-radius: 10px;
        box-shadow: 0px 0px 5px 1px #000000;
    }
    .btnOk{
        float: right;
        font-size: 14px;
        margin-right: 20px;
        padding: 4px;
        border-radius: 5px;

        background: skyblue;
        box-shadow: 0px 0px 10px 1px #e6f8ff;
    }
    .btnOk:hover{
        background: rgb(41, 169, 219);
        box-shadow: 2px 2px 10px 1px #e6f8ff;
    }
</style>
<script src="/js/settings.js"></script>